git+https://github.com/hengenlab/neuraltoolkit.git
git+https://github.com/hengenlab/musclebeachtools_hlab.git
ipython
numpy==1.21.2
xgboost
pandas==1.3.5
scikit-learn
statsmodels
scipy==1.7.3
matplotlib
seaborn
